@model List<Eventhjälpen.Models.Recipe>
@{
    ViewData["Title"] = "Recept";
}
<div class="text-center">
    <h2 class="display-4">Alla recept</h2>
    <p>__________________________________________________________________________________________________</p>

</div>

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 100%;">
            @{string s = "/Images/" + @item.RecipeName + ".jpg";}
            <img src="@s" class="p-1" style="width: 100%; height: 50%;" />
            <div class="card-body">
                <h4 class="card-title">@item.RecipeName</h4>
                <p class="card-text">@item.RecipeType</p>
                <a class="btn btn-primary" asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@item.Id">Gå till recept</a>
            </div>
        </div>
    }
</div>
