@model ViewProducts
@{
    ViewData["Title"] = "Varukorg";
}
<h1>@ViewData["Title"]</h1>

<div class="col-md-6 " (style="border-left-width:)">

    @if(Model.Productslist.Count == 0)
    {
        <p>Varukorgen är tom</p>
    }
    @foreach (var item in Model.Productslist)
    {<ul class="align-content-lg-stretch">
            <li class="list-group-item">

                @item.ProductName @item.Quantity @item.Price Kr
            </li>
        </ul>
    }
    <p>TotalSumma: @Model.TotalSum Kr</p>
</div>


<a class="btn btn-primary" asp-controller="Recipe" asp-action="Recipes" asp-route-id="default" role="button">Fortsätt handla</a>
<button class="btn btn-primary" type="submit">Checka ut</button>
<input class="btn btn-primary" type="button" value="Bekräfta order">




